
*{
  margin: 0;
  scroll-behavior: smooth;
  cursor: pointer;
}
.material-symbols-outlined{
  font-size: 12px;
}
.btn-top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #1428A0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.btn-top.active {
  transform: translateY(0);
  opacity: 1;
}
.video-frame video {
  position: fixed;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
}

header {
  width: 100%;
  border-bottom: 1px solid #ffffff7a;
  position: fixed;
  color: #fff;
  backdrop-filter: blur(3px);
}

header.active {
  transition: 0.5s;
  font-weight: 600;
  background-color: #ffffffe5;
  border-bottom: 1px solid #61616179;
  z-index: 1000;
  color: #111;
}
header.active nav{
  height: 60px;
}


header.active .logobox {
  display: block;
}

header.active .logobox1 {
  display: none;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

p,
span {

  text-align: center;
}

nav {
  width: 1300px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobox {
  display: none;
}

.gnb {
  display: flex;
}

.gnb li a {
  margin: 0 20px;
  position: relative;
  padding-bottom: 5px;
}

.gnb li a:hover {
  font-weight: 800;
  color: #00b7ff;
}

.gnb li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00b7ff;
  transition: 0.5s;
}

.gnb li a:hover:before {
  width: 100%;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-top: 1px solid #cccccc94;
  }
  
  address {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    padding-top: 80px;
    font-size: 12px;
    font-style: normal;
  }