---
import Layout from "../layouts/Layout.astro";
import "./style7.css";
---
<Layout title="한국비즈텍">
    <header>
        <nav>
			<a href="index.html"><img src="image/Logo-w.png" alt="로고" class="logobox1">
                <img src="image/Logo.png"alt="로고"class="logobox"></a
            >
            <ul class="gnb">
                <li><a href="/about">회사소개</a></li>
                <li><a href="/service">사업분야</a></li>
                <li><a href="/news">회사소식</a></li>
                <li><a href="/location">찾아오시는길</a></li>
                <li>
                    <a
                        href="https://lumbar-fernleaf-9f6.notion.site/ERP-2e732b8c4301431882663fede547d01b"  target="_blank"
                        >인재채용 <span class="material-symbols-outlined">
                            north_east
                        </span></a
                    >
                </li>
            </ul>

        </nav>
    </header>
    <div class="main">
        <h1><p><a href="index.html">홈</a> &#183; <a href="/service">회사소식</a></p>회사소식</h1>
    </div>
    <div class="subnews" data-aos="fade-up" data-aos-duration="1500">
        <h1>한국비즈텍 소식</h1>
        <p>한국비즈텍의 소식을 확인해보세요</p>
        <div class="newboxs">
            <ul>
                <a href="https://www.ikld.kr/news/articleView.html?idxno=267937"  target="_blank"><li>
                    <p>한국비즈텍,<br>PMIS․ERP 솔루션 공급 확대… </p>
                    <br>
                    <br>
                    <br>
                    <span> 2023.01.11</span><img src="../image/arrows.png">
                </li></a>
               <a href="https://www.ikld.kr/news/articleView.html?idxno=258695"  target="_blank"><li>
                    <p>[新 인물탐구]<br>(주)한국비즈텍 신동선 대표이사 </p>
                    <br>
                    <br>
                    <br>
                    <span> 2022.08.08</span><img src="../image/arrows.png">
                </li></a>
                <a href="https://www.ikld.kr/news/articleView.html?idxno=19203"  target="_blank"><li>
                    <p>우리관리,<br>자회사 웬진 출범식 가져 </p>
                    <br>
                    <br>
                    <br>
                    <span>  2011.07.08 </span><img src="../image/arrows.png">
                </li></a>
                </ul>
                <ul>
                    <a href="https://www.ikld.kr/news/articleView.html?idxno=5210"  target="_blank"><li>
                <p>한국비즈텍,<br>‘현장근로자 출퇴근시스템’ 개발 </p>
                <br>
                <br>
                <br>
                <span>  2009.04.15</span><img src="../image/arrows.png">
                </li></a>
                <a href="https://www.ikld.kr/news/articleView.html?idxno=3810"  target="_blank"><li>
                    <p>세무사-중소건설업체간 업무 효율성 증대 </p>
                    <br>
                    <br>
                    <br>
                    <span> 2008.12.16</span><img src="../image/arrows.png">
                </li></a>
                <a href="https://www.ikld.kr/news/articleView.html?idxno=3079"  target="_blank"><li>
                    <p>한국비즈텍,<br>설비건설업체 정보화 발벗고 나섰다</p>
                    <br>
                    <br>
                    <br>
                    <span> 2008.10.17 </span><img src="../image/arrows.png">
                </li></a>
            </ul>
            <div class="nuewmore">
                <a href="https://www.ikld.kr/news/articleList.html?page=1&total=19&sc_section_code=&sc_sub_section_code=&sc_serial_code=&sc_area=A&sc_level=&sc_article_type=&sc_view_level=&sc_sdate=&sc_edate=&sc_serial_number=&sc_word=%ED%95%9C%EA%B5%AD%EB%B9%84%EC%A6%88%ED%85%8D&box_idxno=&sc_multi_code=&sc_is_image=&sc_is_movie=&view_type=sm"  target="_blank"><button>news more</a>
            </div>
        </div>
    </div>

    <section>
    </section>
    </Layout>