---
import Layout from "../layouts/Layout.astro";
import "./style5.css";
---
<Layout title="한국비즈텍">
    <header>
        <nav>
			<a href="index.html"><img src="image/Logo-w.png" alt="로고" class="logobox1" /><img
                    src="image/Logo.png"
                    alt="로고"
                    class="logobox"
                /></a
            >
            <ul class="gnb">
                <li><a href="/about">회사소개</a></li>
                <li><a href="/service">사업분야</a></li>
                <li><a href="/news">회사소식</a></li>
                <li><a href="/location">찾아오시는길</a></li>
                <li>
                    <a
                        href="https://lumbar-fernleaf-9f6.notion.site/ERP-2e732b8c4301431882663fede547d01b"  target="_blank"
                        >인재채용 <span class="material-symbols-outlined">
                            north_east
                        </span></a
                    >
                </li>
            </ul>
        </nav>
    </header>
    <div class="main">
        <h1><p><a href="index.html">홈</a> &#183; <a href="/service">사업분야</a></p>사업분야</h1>
    </div>

    <section>
        <div class="cocserp" data-aos="fade-up" data-aos-duration="1500">
            <h1>COC'S/ERP<p>건설종합관리 시스템</p></h1>
            <p>
                회사 전반의 흐름을 체계적으로 구현한 통합시스템으로서 
                풍부한 실적에 따른 노하우를 바탕으로 개발기간 단축<br>비용절감 등 도입에 따른 리스크를 최소화하였으며 단계적 도입이 가능한 한국형 건설업 ERP 시스템입니다
                </p>
                <br>
            <img src="../image/cocsslotion.png" alt="erp">
        </div>
        <div class="cocserp2" data-aos="fade-up" data-aos-duration="1500">
            <div class="cocstext">
                <h2>COC’S/ERP Cloud란?</h2>
                <br>
            <p><span>COC’S </span>는 건설업 전반 흐름을 체계적으로 구현한 <span>통합경영정보시스템</span>으로<br>
                초기 투자비용 없이 최신 IT기술과 정부(공공), 설계, 종합건설업, 전문건설업, 연구소 등 <br>
                다양한 납품실적을 통한 Know-How를 접목한 클라우드 솔루션으로 도입에 따른 리스크를 최소화 할 수 있으며<br><span>최적의 건설업 경영관리 프로세스</span> 를 제공합니다
            </p>
        </div>
        <img src="../image/cocscloud.png" alt="클라우드설명">
        </div>
  
        <div class="pmis4cm"  data-aos="fade-up" data-aos-duration="1500">
            <h1>PMIS/4CM<p>건설사업관리 시스템
            </p></h1>
            <p>건설 프로젝트의 기획건설 프로젝트의 기획, 설계, 시공, 준공 및 유지보수 단계에 이르기까지 전업무를 인터넷상에서 체계적으로 관리하기 위해<br>사업주체간의 의사소통, 전자문서, 교환체계(CITIS)및 지식포탈의 사업관리시스템입니다
            </p>
            <img src="../image/4cm.png" alt="4cm">
        </div>
        <div class="migration" data-aos="fade-up" data-aos-duration="1500">
            <h1>건설사업 솔루션 도입 및 활용</h1>
            <img src="../image/migration2.png"data-aos="fade-up" data-aos-duration="1500">
            <img src="../image/migration.png"data-aos="fade-up" data-aos-duration="1500">
        </div>
    </section>

</Layout>