@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  scroll-behavior: smooth;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.ideo-frame{
  width: 100vh;
  height: 100vh;
}
html, body{
  width: 100%;
  height: 100%;
  color:#222;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
html{
  overflow-y:scroll;  /* 문서전체에 세로 스크롤바자국 항상 표시 */
  overflow-x:hidden;  /* 문서전체에 가로 스크롤바자국 항상 숨김 */
}

/* 시멘틱태그를 지원하지 않는 브라우저에서 inline로 인식하기 때문에 block로 변경해줌 */
article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section{ 
	display:block;  
}

a{
  text-decoration: none;   /*하이퍼링크 밑줄 없애기*/
  color: inherit;  /*하이퍼링크의 글자색 부모한테 상속받기*/
}

img{
	vertical-align:top; /*이미지에 원치 않는 여백이 생성되는 브라우저 오류가 발생하는 경우가 있음*/
	font-size:0;  /*폰트 크기 초기화*/
	border:0; /* 이미지 링크시 기본적으로 나타나는 테두리 제거 */
}

.clear:after{    /* float문제해결 */
	content:"";
	display:block;
	clear:both;
}

.indent{   /* 글자 안보이게 밀어놓기 */
	display:block;
	text-indent:-9999px;
}

li{list-style-type: none;} 
.material-symbols-outlined{
  font-size: 12px;
}
.btn-top {
  position: fixed;
  right: 30px;
  bottom: 50px;
  font-size: 1.25em;
  color: #fff;
  background-color: #1428A0;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  line-height: 37px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.btn-top img{
  margin-top: 8px;
}
.btn-top.active {
  transform: translateY(0);
  opacity: 1;
}
.video-frame{
position: absolute;
top:0;
left:0;
height: 100%;
width: 100%;
z-index: -1;
}
.video-frame video{
height: 100%;
width: 100%;
object-fit: cover;
}


header {
  width: 100%;
  border-bottom: 1px solid #ffffff28;
  position: fixed;
  color: #fff;
  backdrop-filter: blur(3px);
  position: fixed;
}

header.active {
  transition: 0.5s;
  background-color: #ececec79;
  z-index: 1000;
  color: #111;
}
header.active nav{
  height: 60px;
}


header.active .logobox {
  display: block;
}

header.active .logobox1 {
  display: none;
}
h1 {
  font-weight: 800;
  font-size:2.50em;
  text-align: center;
  margin-top: 50px;
}

p,
span {

  text-align: center;
}

nav {
 width: 1200px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logobox {
  display: none;
}

.gnb {
  display: flex;
}

.gnb li a {
  margin: 0 20px;
  position: relative;
  padding-bottom: 5px;
}

.gnb li a:hover {
  font-weight: 800;
  color: #00b7ff;
}

.gnb li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00b7ff;
  transition: 0.5s;
}

.gnb li a:hover:before {
  width: 100%;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-top: 1px solid #cccccc94;
  }
  
  address {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
    padding-top: 80px;
    font-size: 0.75em;
    font-style: normal;
  }

  .main{
    background: url('../image/subhdbg.png') no-repeat;
    background-size: cover;
    border-radius: 20px;
    max-width: 1200px;
    max-height:150px;
     margin: 0 auto;
    color: #333333;
    margin-bottom: 150px;
    padding: 50px;
  }
  .main h1{
    font-size:3.75em;
    padding:100px;
    text-align: left;
    padding-left: 0;

  }
  .main>h1>p{
    font-size: 0.25em;
    padding-top: 30px;
    font-weight: normal;
    text-align: left;
    color:#a6a6a6;
  }
  .nb p{
    color:#6a6a6a;
    margin: 10px;
    text-align: right;
    color:#ccc;
  }
  .nb p span{
    font-size:1.13em;
    color:#1428A0;
  }

  
.submanu {
  width: 100%;
  height: 50px;
  color: #6a6a6a;
  font-size:1.25em;
}

.submanu ul {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.submanu ul li {
  margin: 10px;
  min-width: 150px;
  height: 45px;
  line-height: 45px;
  background-color: #ececec;
  border-radius: 50px;
}

.submanu ul li.active {
  background-color: #1428A0;
  border-radius: 50px;
  color: #fff;
}

/* scrool */
  #scroll_btn{
    opacity: 0;
    width:110px;
    height:auto;
    position:fixed;
    z-index:9999;
    bottom:50%;
    right:10px;
  }
  #scroll_btn ul{
    width:35px;
    float:right;
  } 
  #scroll_btn ul li{
    width:70px;   
    height:37px;
    border-radius:25px;
    background:#1428A0;
    margin-top:10px;
    float:right;
    overflow:hidden;
    text-align:center;
    transition: 0.35s;
  }
  #scroll_btn ul li.hover{
    background-color: #1428A0;
  }

  #scroll_btn ul li a{
      color:#fff;
      line-height:38px;
      font-size:0.88em;
  }
  
  #scroll_btn ul li a .scroll_hover{  /*스크롤위치에 나오는 글자부분*/
    display:none;  /*jQuery에서 보이게 변경*/
    text-align:center;
      vertical-align:top; 
  }
  /* jQuery에서 호출 */
  #scroll_btn ul li.active{
    width: 110px;
    transition: 0.5s;
  }
  #scroll_btn ul li.active .scroll_hover{
    display: inline-block;
  }
